.ForgotPassword {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.ForgotPassword form label {
    display: flex;
    flex-direction: column;
    text-align: left;
}

input {
    margin-bottom: 1em;
}